.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.nav-item{
    display: flex;
    justify-content: space-between;
    
}
.logo img{
    width: 70%;
}
.nav-item div{
    padding: 0 1rem;
}
.nav-item div:last-child{
    border-left: 2px solid black;
}
  
  @media (max-width: 768px) {
    .nav-container{
        flex-direction: row;
        justify-content: space-between;
    }
  }
  
  @media (max-width: 480px) {
    .nav-item{
        display: none;
    }
  }